*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
}

html {
    font-size: 100%;
}

body {
	font-family: "Inter", arial, helvetica, sans-serif;
	word-break: break-word;
	margin: 0 auto;
	padding: 2ch;
	max-width: 960px;
	font-size: 1em;
	color: #000;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
}

header h1 {
    padding: .5em 0;
    font-size: 1.5em;
    font-weight: 800;
}

.site-title a {
    padding: .5em;
}

.site-title:hover {
    background-color: #F4F7F2;
}

nav {
    padding: 0 1em;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    padding: 0;
}

li a {
    color: #767676;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    padding: 1em .5em;
}

li a:hover {
    background-color: #F4F7F2;
}

li a.active {
    font-weight: 600;
    color: #000;
}

section.featured {
    display: flex;
    flex-flow: row wrap;
}

.section-title {
    border: 1px solid #000;
    border-top: 0;
    text-align: center;
    padding: 0.5em 0;
}

.featured .section-title {
    flex: 1 100%;
    color: #fff;
    background-color: #000;
}

.section-title h2 {
    font-size: 1em;
    font-weight: 500;
}

article {
    display: flex;
    border: 1px solid #000; 
    border-top: 0;
}

article.card {
    flex-flow: column wrap;
    flex: 25%;
    padding: 1rem;
    gap: .75em;
}

article.card + article.card {
    border-left: 0;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content h3 {
    font-weight: 700;
    font-size: 1em;
}

/* */


/* */

article.news {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    background-color: #F4F7F2;
}

.news img {
    width: 40%;
    object-fit: cover;
}

.news .news-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: .5em 1.5em;
}
.news-content h3 {
    margin-bottom: 1em;
}

.news-content .info {
    font-weight: 400;
    margin-top: 1rem;
    color: #767676;
}

footer {
    text-align: center;
    padding: 1em 0;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 0;
    }
}

@media only screen and (max-width: 640px) {
    body {
        padding: 0;
    }
    article.card {
        flex: 50%;
    }
    
    article.card + article.card {
        border-left: 1px solid #000;
    }

    article.news {
        flex-flow: column;
        padding: 1rem;
        background-color: #F4F7F2;
    }

    .news .news-content {
        padding: 1rem 0 0 0;
    }

    .news img {
        width: 100%;
        height: 240px;
    }

    .news-content .info {
        font-size: .9rem;
    }

}

@media only screen and (max-width: 600px) {
    header {
        justify-content: start;
    }

    nav {
        width: 100%;
        border-top: 1px solid #000;
        padding: 0 .5em;
    }
}